.container {
    width: 300px;
    margin: 0 auto;
}

.todo-list > li > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-left: 10px;
}

.todo-list > li {
    margin-top: 5px;
    /* margin-left: -45px; */
    list-style: none;
}

.todo-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /* margin-left: -5px; */
    border: none;    
}

.todo-form input {
    width: 245px;
}